* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

body {
  display: grid;
  grid-template-columns: minmax(300px, 1200px);
  justify-content: center;

  height: 100vh;
  font-family: sans-serif;
}

img {
  max-width: 100%;
}

h1,
h2 {
  text-align: center;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, 375px);
  gap: 15px;
  justify-content: center;
  justify-items: center;

  padding: 2rem 0;
  margin-bottom: 2rem;
}

.card {
  width: 100%;
  justify-self: center;

  border: 1px solid #252525;
  border-radius: 8px;

  cursor: pointer;
  transition: all 300ms;
}

.card:hover {
  transform: scale(1.02);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card--text {
  margin: 0.2rem;
  padding: 1rem;

  border-radius: 5px;
}

.card--img {
  display: block;
  margin: 0 auto;

  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}
